In [1]:
import numpy as np
import pandas as pd

In [3]:
np.random.seed(123)
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples*class_0_ratio)
n_class_1 = n_samples - n_class_0

In [8]:
n_class_0,n_class_1

(900, 100)

In [9]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [12]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [13]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [14]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [21]:
df.target.value_counts()

target
0    900
1    100
Name: count, dtype: int64

## upsampling

In [22]:
from sklearn.utils import resample

In [23]:
## upsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [24]:
df_minority_upsample = resample(df_minority, replace=True,
                       n_samples=len(df_majority),
                               random_state=42)

In [27]:
df_minority_upsample.shape

(900, 3)

In [28]:
df_upsampled = pd.concat([df_majority,df_minority_upsample]).reset_index(drop=True)

In [29]:
df_upsampled.shape

(1800, 3)

## Down sampling

In [ ]:
df_majority_downsample = resample()